################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs/
obj/
bin/
Debug/

/Notes.APP/Properties/PublishProfiles/ClickOnceProfile.pubxml
/Notes.APP/Properties/PublishProfiles/ClickOnceProfile.pubxml.user
/DocuEncoding/天命反派：我，拒绝退婚！.txt
/DocuEncoding/重生1993，暗海.txt
/DocuEncoding/间客.txt
/DocuEncoding/我魔道少主，抓個正道聖女怎麼了.txt
